@media screen and (max-width: 506px) {
    .borderRadiusCarousel{
        border-radius: 20px;
    }
    .width75{
        width: 100%;
    }
    .bgg{
        background-image: url("../img/testbanner_mob.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20%;
    }
    #rate h4{
        font-size: 14px;
    }
    #rate h2{
        font-size:20px;
    }
    .star-rating{
        font-size: 25px;
    }
    .WIDTHauTO{
        width: auto !important;
        padding: 8px 12px !important;
    }
    .inputWdImage img {
        width: 12%;
        cursor: pointer;
    }
    .imgBox{
        border-radius: 8px;
        /* background-image: linear-gradient(0deg, #dd2676 0%, #fc4d35 100%);
        padding: 12px 6px; */
        width: 100%;
      }
    #navsect input, #bonusInput input, #expertReviews input {
        border-radius: 52px;
        border: 1px solid #efefef;
        padding: 10px 0 10px 25px;
        width: 100%;
    }
    input::placeholder{
        font-size: 10px;
    }
    .borderTopRadius100{
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .3); /* Smooth shadow effect */
    }
    
    .borderBottomRadius100{
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .3); /* Smooth shadow effect */
    }
    .bonusbtn {
        font-size: 12px;
    }
    .testimonialimg {
        width: 100%;
        margin: auto;
    }
    .img1, .img2, .img3, .img4, .img5, .img6{
        width: 45%;
    }
    #bgwhite .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%;
    }
    .boxWhite h4 {
        font-size: 14px;
    }
    .smtext {
        font-size: 11.5px;
    }
    .casinoHead{
        font-size: 25px;
    }
    .fontsm i {
        font-size: 8px;
    }
    .headplay{
        font-size: 1.35rem;
        
    }
    p{
        font-size: 12px;
        color: #676e7c;
        
    }
    .w-20{
        width: 25%;
    }

    .borderright:before {
        content: "|";
        position: absolute;
        left: 109%;
        color: rgba(0, 0, 0, .2);
        font-size: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .installbtn{
        font-size: 14px;
        font-weight: bold;
    }

    .installbtn2 {
        font-size: 14px;
        padding: 5px 15px;
    }
    .installbtn3{
        font-size: 12px;
    }
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
        top: 30%;
    }
    /* #casinocard .owl-nav, #offeringsect .owl-nav{
        display: none;
    } */
    .owl-nav .owl-prev{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -12px;
    }
    .owl-nav .owl-next{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
    }

}
@media screen and (max-width: 767px){
    .navbar-brand{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav li a{
        padding-top: 10px;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
    }
    .navbar-brand{
        max-width: 100%;
    }
    .width25 {
        width: 37% !important;
    }

    .width23 {
        width: 40% !important;
    }

    .font25 {
        font-size: 0.75rem;
    }
    .imgheighthere{
        height: 15rem;
    }

}

@media screen and (max-width: 390px) {
    .padsm {
        padding-top: 2px;
    }
    .installbtn{
        font-size: 15px;
        font-weight: bold;
    }

}

@media screen and (max-width: 320px) {
    .padsm {
        padding-top: 0;
    }

}
